@media print {
  @page {
    width:10.16cm;
    height: 5.08cm;
    margin-left: 5.08cm;
  }
  h1,h2,h3,h4,h5,h6,p,a,li {
    font-family: dia;
  }
  h2 {
    font-weight:700;
    margin-bottom: 0;
  }
  h3 {
    font-weight:300;
    margin-top:0;
  }
  .label {
    height: 100%;
    vertical-align: center;
  }
  .wrapper {
    page-break-after: always;
    page-break-inside: avoid;
  }
}